@page "/categories"
@inject UseCases.IViewCategoriesUseCase ViewCategoryUseCase

<h3>Manage Component</h3>



@if (_categories != null)
{

        <table>
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var category in _categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                </tr>
            }
        </tbody>
        </table>
    
}


@code {
    private List<Category> _categories;

    public CategoriesComponent()
    {

    }

    protected override void OnInitialized()
    {
        _categories = ViewCategoryUseCase.Execute().ToList();
        base.OnInitialized();

    }

}
